{% extends 'base.html.twig' %}

{% block title %}Changez le mot de passe{% endblock %}

{% block body %}
    <h1>Changez le mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Modifier le mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
